body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.contenedor {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px ;
    background-color: lightblue;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    text-align: center;         
}
